*, *::before, *::after {
	font-size: 16px;
}

#sidebar-header{
	display: none;
}

/*#alltabs-button,*/
/*.titlebar-buttonbox-container,*/
#page-action-buttons,
#tracking-protection-icon-container,
/*#identity-box,*/
#TabsToolbar,
#titlebar {
	display: none !important;
}

#TabsToolbar > :is(.titlebar-spacer,.titlebar-buttonbox-container){
	display: none !important;
}

#nav-bar:not([customizing]){
	position: fixed !important;
	left: 100%;
	top: 2.5rem;
	z-index: -1;
	border-radius: 10px;
	/*background: #1d2021 !important;*/
	/*border: 1px solid var(--lwt-tab-line-color) !important;*/
	overflow: visible !important;
}

#navigator-toolbox {
	border-bottom: none !important;
	background: transparent !important;
}

#navigator-toolbox:focus-within > .browser-toolbar{
	left: 25%;
	right: 25%;
	z-index: 1;
}

#navigator-toolbox,
#tabbrowser-tabbox{
	z-index: auto !important;
}
